<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <a href="/">Home</a>
  <a href="sharon">Sharon</a>
  <a href="shawi">Shawi</a>
  <a href="sha">Sha</a>
  <a href="caballero">Caballero</a>

  <br>
  <h1>Caballero</h1>
</body>
</html>
